<h2><%=@h1%></h2>


<ul class="list-unstyled">
  <li class="media">
    <img class="mr-3" src="img/ww.jpg" alt="Generic placeholder image">
    <div class="media-body">
      <h5 class="mt-0 mb-1">Walter White</h5>
      Уолтер Хартвелл Уайт (англ. Walter Hartwell White) — главный персонаж американского телесериала «Во все тяжкие». Его роль сыграл Брайан Крэнстон.
Хотя AMC официально не хотел принимать Брайана на роль Уолтера, в связи с его предыдущей комедийной ролью в сериале «Малкольм в центре внимания», но исполнительный продюсер сериала Винс Гиллиган, просмотрев кадры с ролью Крэнстона в эпизоде Секретных материалов, утвердил его на роль. Крэнстон внёс большой вклад в характер Уолтера, включая внешний вид и черты личности. Гиллиган описал свою цель, как «превращение Уолтера Уайта из мистера Чипса в Тони Монтана», и специально создавал персонажа, который со временем вызывал всё меньше симпатий[1][2].
Как персонаж Уолтер Уайт, так и актёрская игра Крэнстона, были положительно отмечены критиками. Крэнстон получил четыре премии Эмми за главную мужскую роль в драматическом сериале[3] и стал вторым актёром в истории премии, добившимся такого результата.
    </div>
  </li>
  <li class="media my-4">
    <img class="mr-3" src="img/jp.jpg" alt="Generic placeholder image">
    <div class="media-body">
      <h5 class="mt-0 mb-1">Jesse Pinkman</h5>
      Джесси Брюс Пинкман (англ. Jesse Bruce Pinkman) — вымышленный персонаж американского драматического сериала «Во все тяжкие». Персонаж, которого сыграл Аарон Пол, был создан сценаристом и режиссёром сериала Винсом Гиллиганом, а также это единственный персонаж, кроме Уолтера Уайта, который появляется в каждом эпизоде шоу.
Персонаж получил похвалу от критиков и поклонников сериала. Благодаря этой роли Аарон Пол выиграл прайм-тайм премию Эмми за выдающуюся мужскую роль второго плана в драматическом сериале в 2010, 2012 и 2014.
Пинкман хорошо известен своим использованием слов «Yeah» и «Bitch».
    </div>
  </li>
  <li class="media">
    <img class="mr-3" src="img/gf.jpg" alt="Generic placeholder image">
    <div class="media-body">
      <h5 class="mt-0 mb-1">Gus Fring</h5>
      Gustavo "Gus" Fring is a fictional character in Breaking Bad and Better Call Saul, played by Giancarlo Esposito. Fring is a prominent methamphetamine distributor in the Southwestern United States, who uses several legitimate businesses, including a chain of successful fast food fried chicken restaurants called Los Pollos Hermanos and an industrial laundry facility called Lavanderia Brillante, as fronts for a vast drug operation. Gus maintains a positive exterior; he takes an active role in managing his front businesses and is a booster for the DEA, making large donations to the agency's Albuquerque office. However, Gus is ruthless and Machiavellian in managing his vast drug empire. He employs a number of enforcers and has personally killed rivals and associates.[1]
    </div>
  </li>
</ul>