<!doctype html>
<html lang="en">
  <head>
	<title><%=@title%></title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-formhelpers/2.3.0/css/bootstrap-formhelpers.css" rel="stylesheet">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" ></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" ></script>

    <script src="bootstrap-formhelpers-phone.js" ></script>

    <%if @datetimepicker then %>
        <!-- Added javascript & css for datetimepicker -->
        <script src="moment.min.js" ></script>
        <script src="bootstrap-datetimepicker.min.js" ></script>
        <script src="bootstrap-datetimepicker.ru.js" ></script>
        <link href="bootstrap-datetimepicker.min.css" rel="stylesheet">
    <% end %>
    
  </head>
  <body>
		<div class="container">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="/">💈 Barbershop</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">

                    <li class="nav-item">
                        <a class="nav-link" href="visit">Записаться</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="barbers">Барберы</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contacts">Контакнты</a>
                    </li>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="admin">Админ</a>
                    </li>
                    </ul>
                </div>
                </nav>
			<div>
				<%if @error then %>
						<div class="alert alert-error"><%=@error%></div>
				<% end %>
				<%= yield %>
			</div>
		</div>
  </body>
</html>
