<%# debug %>
<%# <%= @result %>

<%# "id"=>7, "name"=>"Хасан", "datestamp"=>"10.04.2018 18:30", "phone"=>"+7 (832) 954-1234", "email"=>"sa@de.rt", "barber"=>"Gus Fring",  %>


<h2><%=@h1%></h2>


<%# 
    <% @result.each { |row|  %>   <%# 
    <%= "#{row['id']} #{row['name']}  #{row['phone']}  #{row['datestamp']} <br>"  %>
<%#     <% } %>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Имя</th>
      <th scope="col">Телефон</th>
      <th scope="col">Дата записи</th>
    </tr>
  </thead>
  <tbody>

    <%# <tr> <th scope="row">1</th> <td>Mark</td>   <td>Otto</td>  <td>@mdo</td> </tr> %>

    <% @result.each { |row|  %>  
    <%= "  <tr> <th scope=\"row\">  #{row['id']} </th>  <td>  #{row['name']} </td>  <td> #{row['phone']} </td>  <td>  #{row['datestamp']} </td> </tr> "  %>
    <% } %>
    
  </tbody>
</table>